################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ShuPingNetSolution/ShuPing.Code/obj/Debug
*/obj/Debug
*.suo
*.force
*.dll
/ShuPingNetSolution/ShuPing.WebApi.Tests/bin/Debug
