################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ShuPingNetSolution/ShuPing.Code/obj/Debug
*/obj/Debug
*.suo
*.force
*.dll
/ShuPingNetSolution/ShuPing.WebApi.Tests/bin/Debug
/ShuPingNetSolution/ShuPing.RepositoryBase/bin/Debug
/ShuPingNetSolution/ShuPing.WebApi/bin
/ShuPingNetSolution/ShuPing.Mapping/bin/Debug
/ShuPingNetSolution/ShuPing.Interface/bin/Debug
/ShuPingNetSolution/ShuPing.Infrastructure/bin
/ShuPingNetSolution/ShuPing.Entity/bin/Debug
/ShuPingNetSolution/ShuPing.Data/bin/Debug
/ShuPingNetSolution/ShuPing.Code/bin/Debug
/ShuPingNetSolution/ShuPing.Infrastructure/bin/Debug
